PACK/PACK/38/esquema15.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="base">
		<xs:all>
			<xs:element name="a" type="xs:string"/>
			<xs:element name="b" type="xs:string"/>
			<xs:element name="c" type="xs:string"/>
		</xs:all>
	</xs:complexType>	
	<xs:element name="RAIZ" type="base"/>
</xs:schema>
<!--SE USA CUANDO EL TIPO COMPLEJO SE VA A REUTILIZAR EN VARIOS-->
