PACK/PACK/38/esquema20.xsd

<!---El otro se puede usar en diferentes derivaciones y este está en el elemento raíz-->
<!--DECLARAMOS EL ELEMENTO Y LUEGO EL COMPLEJO-->
<!-- <elemento atributo = "10"><a></a> <b></b> <elemento> -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="RAIZ">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="a" type="xs:string"/>
				<xs:element name="b" type="xs:string"/>
			</xs:sequence>
			<xs:attribute name="atributo" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
<!-- atributos dentro de la extension -->
