PACK/PACK/38/esquema16.xsd

<!---El otro se puede usar en diferentes derivaciones y este está en el elemento raíz-->
<!--DECLARAMOS EL ELEMENTO Y LUEGO EL COMPLEJO-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="RAIZ">
		<xs:complexType>
			<xs:choice>
				<xs:element name="a" type="xs:string" />
				<xs:element name="b" type="xs:string" />
				<xs:element name="c" type="xs:string" />
			</xs:choice>
		</xs:complexType>
	</xs:element>
</xs:schema>
