PACK/PACK/38/esquema14.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:complexType name="base">
			<xs:sequence>
				<xs:element name="a" type="xs:string" />
				<xs:element name="b" type="xs:string" />
				<xs:element name="c" type="xs:string" />
			</xs:sequence>		
		</xs:complexType>
		<xs:element name="RAIZ" type="base"/>
</xs:schema>
